@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --color-default: #062e7d;
    --color-second: #0446ca;
    --color-back: #c2c2c2;
    --diferente: rgb(27, 132, 87);


    --min-font-size: 18px;
    --max-font-size: 24px;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/*header -------------------------------------------------------------------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    backdrop-filter: blur(200px);
    background-color: #062e7d;
    width: 100%;
    height: 80px;
    z-index: 10;
    color: white;
}

header>h1>img {
    width: 4em;
}

header>nav>a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header>div>i {

    padding: 10px;
}

#iconmenu {
    display: none;
    font-size: 22px;
}

#carticon {
    font-size: 22px;
}

.button_header {
    font-family: "Anton", sans-serif;
    width: 170px;
    background-color: white;
    color: var(--color-default);
    border: none;
    border-radius: 10px;
    height: 38px;
    font-size: 23px;
    font-weight: 200;
    letter-spacing: 3px;
}

/* -------------------------------------------------------------------------------------------*/



/*inicio -------------------------------------------------------------------------------------------*/
section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/imgHome\(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;
}

.textmain {
    width: 70vw;
    letter-spacing: 4px;
    text-align: right;
    color: white;
}

.textmain>h1 {
    font-size: clamp(40px, 6vw, 90px);
    font-family: "Anton", sans-serif;
}

.textmain>p {
    padding: 15px;
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 400;
}

.textmain>button {
    font-family: "Anton", sans-serif;
    width: 200px;
    background-color: #062e7d;
    color: white;
    border: none;
    border-radius: 100px;
    height: 55px;
    font-size: 26px;
    font-weight: 500;
}

/*-------------------------------------------------------------------------------------------*/



/*barra menu lateral -------------------------------------------------------------------------------------------*/
.naver {
    width: 300px;
    height: 100%;
    background-color: black;
    z-index: 9999;
    top: 0px;
    position: fixed;
    color: white;
    left: -100%;
}

.logo_naver {
    width: 7em;
    min-width: 60px;
}

.naver>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.naver>nav {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
}

.naver>nav>a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    margin-left: 40px;
}

.naver>nav>a:hover {
    color: black;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

#icon_links_naver {
    font-size: 20px;
    margin-right: 8px;
}

#closeicon {
    font-size: 27px;
    padding: 9px;
}

/*-------------------------------------------------------------------------------------------*/


/*sobre -------------------------------------------------------------------------------------------*/
#sobre_site {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.art-div {
    width: 500px;
    height: 500px;
}

.art-div>h1 {
    font-size: 4rem;
    color: black;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    margin-top: 20px;
    margin-left: 0px;
}

.art-div>p {
    font-weight: 200;
    font-size: clamp(var(--min-font-size), 4vw, var(--max-font-size));
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 10px;
    text-align: justify;
}

.img_sobre {
    width: 40vw;
    min-width: 300px;
    max-width: 500px;
    margin: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.button1 {
    font-family: "Anton", sans-serif;
    width: 170px;
    background-color: #062e7d;
    border: none;
    border-radius: 100px;
    height: 55px;
}

.button1>a {
    color: #fff;
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 500;
}

.button2 {
    font-family: "Anton", sans-serif;
    width: 170px;
    background-color: white;
    color: black;
    border: 0.6px solid #062e7d;
    border-radius: 100px;
    height: 55px;
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 500;
}

/*-------------------------------------------------------------------------------------------*/




/*serviços -------------------------------------------------------------------------------------------*/
#Serviços {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 40px;
}

.services_title {
    margin: auto;
    max-width: 1270px;
    text-align: left;
}

.title_services_start {
    color: rgb(64, 63, 63);
    font-weight: 600;
    padding: 3px;
    height: 40px;
    font-size: clamp(20px, 4vw, 35px);
}

.title_services_end {
    color: var(--color-default);
    font-weight: 600;
    padding: 3px;
    height: 40px;
    margin-bottom: 18px;
    font-size: clamp(20px, 4vw, 35px);
}

.box_service {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    max-width: 1270px;
}

.service {
    background-color: var(--color-default);
    color: white;
    border-radius: 12px;
    flex: 1 1 220px;
    /* grow, shrink, basis */
    max-width: 280px;
    min-width: 200px;
    height: 200px;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 30px --color-second;
}

.service h3 {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.service p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------*/


/*sobre -------------------------------------------------------------------------------------------*/
.art_curiosidade {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: var(--color-default);
}

.curiosidade_box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.curiosidade_box>h1 {
    font-size: 4rem;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    margin-top: 20px;
}

.curiosidade_box>p {
    font-weight: 200;
    font-size: clamp(var(--min-font-size), 4vw, 20px);
    max-width: 700px;
    margin: 0 auto;
    padding: 0px 15px;
    text-align: justify;
}

/*-------------------------------------------------------------------------------------------*/




/*footer -------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-weight: 500;
    height: 80px;
    width: 100%;
}

footer>div {
    max-width: 1270px;
    height: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons_social {
    gap: 5px;
}

.icons_social>a {
    text-decoration: none;
}

.logo_footer {
    width: 2.4em;
    min-width: 60px;
}

/* .footer_thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} */

.link {
    font-size: 17px;
    margin: 5px;
    font-weight: 200;
}

.imgicone1,
.imgicone2,
.imgicone3 {
    color: rgb(48, 47, 47);
    font-size: x-large;
    padding: 5px;
}

.imgicone1>i:hover {
    color: rgb(89, 18, 18);
    transform: translateY(-5px);
    transition: all ease-in-out 0.4s;
}

.imgicone2>i:hover {
    color: #05429e;
    transform: translateY(-5px);
    transition: all ease-in-out 0.4s;
}

.imgicone3>i:hover {
    color: rgb(236, 14, 51);
    transform: translateY(-5px);
    transition: all ease-in-out 0.4s;
}


/* footer {
    width: 100%;
    height: 30vh;

}

.title_footer {
    text-align: center;
}

.box_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 300px;
    margin: 40px;
}

footer>h1 {
    margin-top: 10px;
    padding-left: 10px;
    color: #062e7d;
}

.box_footer>div>ul>li {
    list-style: none;
}

hr {
    width: 80%;
    background-color: rgb(177, 174, 174);
    margin: auto;
}

.title {
    color: #062e7d;
    font-size: 25px;
}

.link {
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
} */

/* -------------------------------------------------------------------------------------------*/


/*botãozap -------------------------------------------------------------------------------------------*/

.button_zap {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--diferente);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button_zap>a>i {
    color: #fff;
    font-size: 30px;
}

/*-------------------------------------------------------------------------------------------*/


/*Media querys -------------------------------------------------------------------------------------------*/


@media screen and (max-width:1000px) {
    .img_sobre {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        gap: 70px;
    }

    #iconmenu {
        display: inline;

    }

    header>nav>a {
        display: none;
    }

    .art-div>h1 {
        font-size: 2rem;
        color: black;
        font-weight: 800;
    }

    .curiosidade_box>h1 {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        font-weight: 800;
        letter-spacing: 5px;
    }

    .art-div,
    .curiosidade_box {
        height: 420px;
        text-align: center;
        width: 80%
    }

    .textmain {
        text-align: center;
    }

    .services_title {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}